*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #ffffff;
}header {
    background-color: blue;
}
li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    letter-spacing: 3px;
}
.logo {
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover {
    color: blueviolet;
}
.burger {
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: white;
}
h1 {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
}
.container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 300px;
    width: 1300px;
    background: #ffffff;
    gap: 15px;
}
.box-1{
  margin-top: 30px;
  height: 230px;
  width: 450px;
  background: white;
  border-radius: 10px;
  border:solid 0.5px blue;
}
.box-2{
  margin-top: 30px;
  height: 230px;
  width: 480px;
  background: #ffffff;
  border-radius: 10px;
  border: solid 0.5px blue;
}
.container h4 {
    font-size: 22px;
    margin-left: 20px;
    font-family: sans-serif;
}
.container p {
    margin-left: 20px;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 20px;
}
.box-3{
    height: 230px;
    width: 480px; 
     margin-top: 30px;
    background: #ffffff;
    border-radius: 10px;
    border: solid 0.5px blueviolet;
}

.footer{
    margin-top: 100px;
    background: rgb(126, 120, 129);
    width: 100%;
    padding: 20px 30px 20px;
}
.socialicon {
    display: flex;
    justify-content: center;
}
.socialicon a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background: #ffffff;
    border-radius: 40%;
}
.socialicon a i {
    font-size: 2em;
    color: black;
}
.footernav ul {
 display: flex;
 justify-content: center;
 list-style: none;
}
.footernav ul li a{
 color: #ffffff;
 margin: 20px;
 text-decoration: none;
 font-size: 1.3em;
}
.footerbottom {
    background-color: black;
    padding: 10px;
    text-align: center;
}
.footerbottom p {
    color:white
}


@media(max-width:767px) {
  
    .burger {
        display: block;
    }
    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active .bar:nth-child(1) {
       transform: translateY(8px)rotate(45deg);
    }
    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 5vh;
        gap: 0;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }

   .footer {
    margin-top: 100px;
   }

   .footernav {
    flex-direction: column;
   }
   .footernav ul li a{
    width: 40%;
    text-align: center;
    margin: 1opx;
   } 
    .container {
        display: inline-block;
        width:100% ;
        margin-left: auto;
        margin-right: auto;
        margin: 50px;
    }
    .box-1{
        margin-top: 15px;
        width: 80%;
      }
      .box-2{
        margin-top: 15px;
        width: 80%;
      }
     .box-3 {
      margin-top: 15px;
      width: 80%;
     }
      .container h4 {
      font-size: 18px;
      }
      .container p {
      font-size: 10px;
      font-family: sans-serif;
      line-height: 10px;
   }
   h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }

}