* {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: sans-serif;
    background: gray;
}
.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    margin-right: 100px;
    font-family: sans-serif ;
}
 .nav-links {
    display: flex;
    justify-content: space-around;
    width: 0;
    gap: 20px;
 }
.nav-links a {
    color: #ffffff;
     text-decoration: none;
     letter-spacing: 2px;
     font-weight: bold;
     font-size: 17px;
}
.nav-links li :hover {
    transition: all 3s;
    background: #ffffff;
    color: blue;
}
.nav-links li {
    list-style: none;
}
.burger div {
    width: 25px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease-in;
}
.burger {
    display: none;
}

.contact-box{
    display:flex ;
    gap: 20px;
    justify-content: space-between;
    margin: auto;
    height: 400px;
    width: 690px;
    background: #ffffff;
}
.contact-box h3 {
    text-align: center;
}
.contact-box p {
    text-align: center;
}
.cob-1 {
    margin-top: 20px;
    height: 200px;
    width: 250px;
    background: white;
    border-radius: 9px;
    border: solid 0.5px blue;
}
.cob-2 {
    margin-top: 20px;
    height: 200px;
    width: 250px;
    background: white;
    border-radius: 9px;
    border: solid 0.5px blue;
}
.cob-3 {
    margin-top: 20px;
    height: 200px;
    width: 250px;
    background: white;
    border-radius: 9px;
    border: solid 0.5px blue;
}
.contact-box h5 {
    text-align: center;
}
.contact-box a {
    text-decoration: none;
}
.cob-1 a {
margin-left: 100px;
}
.cob-2 a {
    margin-left: 60px;
}
.cob-3 a {
    margin-left: 60px;
}

.footer{
    margin-top: 100px;
    background: rgb(126, 120, 129);
    width: 100%;
    padding: 20px 30px 20px;
}
.socialicon {
    display: flex;
    justify-content: center;
}
.socialicon a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background: #ffffff;
    border-radius: 40%;
}
.socialicon a i {
    font-size: 2em;
    color: black;
}
.footernav ul {
 display: flex;
 justify-content: center;
 list-style: none;
}
.footernav ul li a{
 color: #ffffff;
 margin: 20px;
 text-decoration: none;
 font-size: 1.3em;
}
.footerbottom {
    background-color: black;
    padding: 10px;
    text-align: center;
}
.footerbottom p {
    color:white
}


@media only screen and (max-width:850px) {
     body {
        overflow-x: hidden;
     }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 6vh;
        height: 70vh;
        background: black;
        display: flex;
        gap: 10px;
        width: 50%;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 1;
    }
    .nav-links li :hover {
        transition: all 5s;
        color: red;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
   .nav-active {
    transform: translateX(0%);
   }
   .footernav {
    flex-direction: column;
   }
   .footernav ul li {
    width: 100%;
    text-align: center;
    margin: 1opx;
   } 
    .contact-box {
        display: block;
        width: max-content;
    }

}