* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: gray;
}
li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    letter-spacing: 3px;
}
.logo {
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover {
    color: blueviolet;
}
.burger {
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
}