* {
    box-sizing: border-box;
}
.signin-box{
    margin: auto;
    height: 220px;
    width: 220px;
    background: #ac96ac;
} 
h3 {
    text-align: center;
    
}
form {
    margin-left: 20px;
}
input{
    height: 20px;
    padding: 10px;
}
