* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(loanbytee.jpg);
    background-size: cover;
    background-repeat: round;
}
header {
    background-color: gray;
}
li {
    list-style: none;
}
a {
    color: white;
    text-decoration: none;
}
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    letter-spacing: 3px;
}
.logo {
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover {
    color: blueviolet;
}
.burger {
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: white;
}
h3 {
    margin-top: 70px;
    color: whitesmoke;
    font-size: 35px;
    font-weight: lighter;
    margin-left: 60px;
}
section {
    height:450px;
    text-align: center;
    margin-top: 40px;
}
section h6 {
    color: #ffffff;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;

}
section p {
    text-align: center;
    font-size: 15px;
    color: cyan;
}
section div {
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    background: blue;
}
ion-icon {
  font-size: 30px;
}
.footer{
    background: rgb(126, 120, 129);
    width: 100%;
    padding: 20px 30px 20px;
}
.socialicon {
    display: flex;
    justify-content: center;
   
}
.socialicon a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background: #ffffff;
    border-radius: 40%;
}
.socialicon a i {
    font-size: 2em;
    color: black;
}
.footernav ul {
 display: flex;
 justify-content: center;
 list-style: none;
}
.footernav ul li a{
 color: #ffffff;
 margin: 20px;
 text-decoration: none;
 font-size: 1.3em;
}
.footerbottom {
    background-color: black;
    padding: 10px;
    text-align: center;
}
.footerbottom p {
    color:white
}


@media(max-width:767px) {
    body {
        width: min-content;
    }
    .burger {
        display: block;
    }
    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active .bar:nth-child(1) {
       transform: translateY(8px)rotate(45deg);
    }
    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position:fixed;
        left: -100%;
        top: 5vh;
        gap: 0;
        flex-direction: column;
        background-color: gray;
        width: 80%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left: 0;
    }

   .footernav {
    flex-direction: column;
   }
   .footernav ul li {
    width: 70%;
    text-align: center;
    margin: 10px;
   } 

    section {
        height: 200px;
    }
    section div {
        padding: 10px;
        margin: 3px;
        display:inline-block;
    }
    section h6 {
        font-size: 12px;
        font-family: sans-serif;
    }
    section p {
        font-size: 10px;
        font-family: sans-serif;
    }

    h3 {
        font-size: 20px;
        font-family: sans-serif;
    }
    ion-icon{
        font-size: 20px;
    }

}
