* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(loanbytee.jpg);
    background-size: cover;
    background-repeat: round;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: sans-serif;
    background: gray;
}
.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    margin-right: 100px;
    font-family: sans-serif ;
}
 .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    gap: 20px;
 }
.nav-links a {
    color: #ffffff;
     text-decoration: none;
     letter-spacing: 2px;
     font-weight: bold;
     font-size: 17px;
}
.nav-links li :hover {
    transition: all 3s;
    background: #ffffff;
    color: blue;
}
.nav-links li {
    list-style: none;
}
.burger div {
    width: 25px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease-in;
}
.burger {
    display: none;
}

h3 {
    margin-top: 70px;
    color: whitesmoke;
    font-size: 35px;
    font-weight: lighter;
    margin-left: 60px;
}
section {
    height:450px;
    text-align: center;
    margin-top: 40px;
}
section h6 {
    color: #ffffff;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;

}
section p {
    text-align: center;
    font-size: 15px;
    color: cyan;
}
section div {
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    background: blue;
}
ion-icon {
  font-size: 30px;
}
.footer{
    height: 300px;
    background: rgb(126, 120, 129);
}





@media only screen and (max-width:450px) {
     body {
        overflow: hidden;
     }
    .nav-links {
        position: absolute;
        right: 0px;
        top: 5vh;
        height: 70vh;
        background: black;
        display: flex;
        gap: 10px;
        width: 48%;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 1;
    }
    .nav-links li :hover {
        transition: all 5s;
        color: red;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
   .nav-active {
    transform: translateX(0%);
   }

    section {
        height: 200px;
        width:100% ;
    }
    section div {
        padding: 10px;
        margin: 3px;
        display:inline-block;
    }
    section h6 {
        font-size: 12px;
        font-family: sans-serif;
    }
    section p {
        font-size: 10px;
        font-family: sans-serif;
    }

    h3 {
        font-size: 20px;
        font-family: sans-serif;
    }
    ion-icon{
        font-size: 20px;
    }

}
